<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.lq.dao.ArticleDao">
    <select id="queryByPage" resultType="Article">
         select * from article limit #{start},#{rows}
    </select>

    <select id="queryCount" resultType="int">
        select count(*) from article
    </select>
    <insert id="addArticle" parameterType="Article">
        insert into article values(#{id},#{title},#{img},#{content},#{createDate},#{publishDate},#{status},#{guruId})
    </insert>
    <update id="updateArticle" parameterType="Article">
        update article
        <set>
            <if test="title!=null">title=#{title},</if>
            <if test="img!=null">img=#{img},</if>
            <if test="content!=null">content=#{content},</if>
            <if test="createDate!=null">createDate=#{createDate},</if>
            <if test="publishDate!=null">publishDate=#{publishDate},</if>
            <if test="status!=null">status=#{status},</if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteArticle">
        delete from article where id=#{id}
    </delete>
    <select id="selectByOne" resultType="Article">
        select * from article where id=#{id}
    </select>

    <select id="selectArticleDate" resultType="Article">
        select * from article order by createDate desc limit 0,2
    </select>
</mapper>
