<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.lq.dao.ChapterDao">
    <select id="queryById" resultType="Chapter">
        select * from chapter c right join album b on c.albumId=b.id where albumId=#{id}
    </select>
    <insert id="addChapter" parameterType="Chapter">
        insert into chapter values (#{id},#{title},#{url},#{csize},#{time},#{createTime},#{albumId})

    </insert>


    <delete id="deleteChapter">
        delete from chapter where id=#{id}
    </delete>

    <update id="updateChapter" parameterType="Chapter">
        update chapter
        <set>
            <if test="title!=null">title=#{title},</if>
            <if test="url!=null">url=#{url},</if>
            <if test="csize!=null">csize=#{csize},</if>
            <if test="time!=null">time=#{time},</if>
            <if test="createTime!=null">createTime=#{createTime},</if>
            <if test="albumId!=null">albumId=#{albumId},</if>
        </set>
        where id=#{id}
    </update>
    <select id="selectAllChapter" resultType="Chapter">
        select * from chapter where albumId=#{id}
    </select>
</mapper>
